{% block content %}
  <h1>Presidential Search Form</h1>
  <form method="POST" action="http://localhost:5000/wikiresult">
      {{ form.hidden_tag() }}
      {% for message in get_flashed_messages() %}
      {{ message }}
      {% endfor %}
      <p>{{ form.searchword.label }}{{ form.searchword() }}</p>
      {{ form.submit() }}
  </form>
  <img src='/static/rushmore.jpg'>
  <br>
  <a href='https://www.scholastic.com/teachers/articles/teaching-content/timeline-guide-us-presidents/'>Timeline Guide to U.S. Presidents</a>
{% endblock %}
